{% extends 'base.html' %} {%block head_title%}BZ9 Balance{%endblock head_title%} {%block page_title%} Lista de Movimientos {%endblock page_title%} {%block contenido%} {{super()}}
<table class="paper">
    <tr>
        <th class="tit-tabla">Fecha</th>
        <th class="tit-tabla">Hora</th>
        <th class="tit-tabla">Concepto</th>
        <th class="tit-tabla">I/G</th>
        <th class="tit-tabla">Cantidad</th>
    </tr>
    {% for mov in movs %}
    <tr>
        <td>{{mov.fecha}}</td>
        <td>{{mov.hora}}</td>
        <td>{{mov.concepto}}</td>
        <td>
            {%if mov.tipo == 'I'%} ingreso {%else%} gasto {%endif%}
        </td>
        <td>{{mov.cantidad}}</td>
    </tr>
    {% endfor %}
</table>
<div class="paper">Esto es un bloque independiente</div>
{%endblock contenido%}